
/*Estilos para elementos iguales*/

body {
    font-family: system-ui, Roboto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column;
    background-color: #0f1729;
    text-align: left;
    height: 20px;
}

a {
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
}

@media (pointer: coarse) {
    a {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}

a:focus, a:active {
  outline: none;
  background-color: transparent;
}

h1 {
    font-size: 48px;
    display: block;
    font-weight: 700;
    white-space: nowrap;
    background-clip: text;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
    pointer-events: auto;
    color: #fafafa;
}

h2 {
    margin: 0px 0px;
}

p {
    margin: 0px 0px;
}

.text {
    color: #97a3b4;
}

.button {
    padding: 15px 20px;
    font-weight: 600;
    user-select: none;
    border-radius: 7px;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.footer {

}


/*Estilos Individuales*/
.navbar {
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 23, 41, 0.9);


}

.principal-section {
    display: flex;
    overflow: hidden;
    max-width: none;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.principal-container {
   display: flex;
   padding: 0px 30px;
   justify-content: center;
   align-items: center;
   text-align: left;
}

.text-container {
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 50px;
}

.text-div {
    width: auto;
    font-size: 20px;
}

.principal-text {
    display: inline-block;
    color: transparent;
    font-weight: 600;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fafafa 50.1%);
    background-size: 250% 100%;
    background-position: 100% 100%;
    background-clip: text;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #fafafa;
    transition: background-position 700ms ease;
}

@media (hover:hover) and (pointer: fine) {
    .principal-text:hover {
        background-position: 0% 100%;
    }
}

.database {
    display: block;
    color: transparent;
    background-image: linear-gradient(150deg, #00bbff, #00ff9d 46%);
    background-clip: text;
    -webkit-background-clip: text;
}

.web-description {
    font-size: 20px;
    max-width: 770px;
    margin-top: 24px;
    padding: 0px 20px;
}

.buttons-div {
    display: flex;
    margin-top: 30px;
    gap: 27px;
}

.writeups-button {
    justify-content: center;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    color: #202020;
    background-image: linear-gradient(270deg, #0bf, #00ff9d);
    transition: opacity 150ms cubic-bezier(.4,0,.2,1);
    border-radius: 7px;
}

.writeups-button:hover,
.writeups-button:active {
    opacity: 0.9;
}

.conocimiento-button {
    padding: 0px;
    line-height: 25px;
    background-color: #0bf;
    border-style: solid;
    border-width: 1px;
    border-color: #0bf;
    border-radius: 7px;
}

.conocimiento-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #0f1729;
    border-radius: 7px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 15px 20px;
}

.conocimiento-button-div:hover,
.conocimiento-button-div:active {
    opacity: 0.9;
}

.conocimiento-button-icon {
    width: 17px;
    height: auto;
    color: #fafafa;
}

.conocimiento-button-text {
    font-size: 17px;
    color: #fafafa;
    font-weight: 500;
}

.last-machine-container {
    width: 100%;
    display: block;
    max-width: none;
    background-image: linear-gradient(180deg, #0bf 35%, #00ff9d 62%);
    border-radius: 15px;
    margin-left: 0px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px 7px;
    transition: transform 300ms ease-in-out;
}

@media (hover:hover) and (pointer: fine) {
    .last-machine-container:hover {
        transform: translateY(-5px);
    }
}

.border-container {
    display: block;
    max-width: none;
    padding: 25px;
    background-color: #111927;
    border-radius: 15px;
}

.last-machine-first-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.published {
    font-size: 18px;
}

.difficulty-os {
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 30px;
}

.difficulty {
    font-weight: 400;
}

.easy {
    color: #0ccf33;
}

.medium {
    color: #abde11;
}

.hard {
    color: #fd341d;
}

.insane {
    color: #ee1dfd;
}

.os {
    color: #434856;
    background-color: #434856;
    padding: 4px 8px;
    border-radius: 4px;
}

.windows {
    background-color: #0bf;
}

.linux {
    background-color: #ea9800;
}

.android {
    background-color: #0ccf33;
}

.machine-name {
    margin-top: 20px;
    color: #fafafa;
    font-size: 30px;
    line-height: 30px;
}

.platform {
    color: #0ccf33;
}

.htb {
    color: #0ccf33;
}

.thm {
    color: #d9e30c;
}

.machine-description {
    margin-top: 20px;
    font-size: 18px;
}

.tags-div {
    display: flex;
    margin-top: 25px;
    align-content: flex-start;
}

.tag {
    overflow: hidden;
    line-height: 16px;
    margin-right: 8px;
    padding: 4px 8px;
    max-width: 80px;
    font-size: 15px;
    color: #0bf;
    flex-flow: column-reverse;
    border-radius: 20px;
    background-color: #434856;
    white-space: nowrap;
    cursor: default;
    text-overflow: ellipsis;
    transition: all 200ms ease;
}

@media (hover:hover) and (pointer: fine) {
    .tag:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px #00b0ff33;
    }
}

.last-machine-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.user-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.samucrow-logo {
    display: block;
    width: 60px;
    height: auto;
    border-radius: 30px;
}

.user-description {
    display: block;
    margin-left: 20px;
    align-self: center;
}

.username {
    margin: 0px;
    color: #fafafa;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
}

.user-definition {
    margin: 0px;
    font-weight: 400;
    font-size: 17px;
}

.machine-link {
    display: flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    color: #0bf;
    transition: color 150ms cubic-bezier(.4,0,.2,1);
    text-decoration: none;
}

.machine-link:hover {
    color: #fafafa;
}

#writeup-arrow {
    padding-top: 5px;
    font-size: 20px;
    margin-left: 5px;
}

.statistics-container {
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #0f1729;
}

.statistics-grid {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.statistic {
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(67, 72, 86, 0.5);
}

.statistic-number {
    display: block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
    color: #0bf;
}

.statistic-text {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.form-section {
    background-image: url(/images/fondo_fixed.webp);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}


/*Media Queries 1000px*/

@media (max-width: 1000px) {
    .principal-container {
        display: block;
        padding: 0px 10px;
    }

    .text-container {
        padding: 0px;
    }

    .text-div {
        text-align: center;
        user-select: none;
    }

    h1 {
        font-size: 80px;
        white-space: normal;
    }

    .database {
        background-image: linear-gradient(150deg, #0bf, #00ff9d);
    }

    .web-description {
        max-width: 580px;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }

    .buttons-div {
        margin-top: 40px;
        justify-content: space-around;
    }

    .writeups-button {
        padding: 25px 40px;
    }

    .conocimiento-button-div {
        padding: 25px 40px;
    }

    .last-machine-container {
        margin-top: 80px;
        max-width: 580px;
        margin-left: auto;
    }

    .statistics-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 600px ) {
    h1 {
        font-size: 12vw;
    }

    .principal-text {
        -webkit-text-stroke: 0px;
        font-weight: 700;
    }

    .web-description{
        font-size: 5vw;
    }

    .buttons-div {
        display: block;
        gap: 0px;
        width: 100%;
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
    }

    .conocimiento-button {
        display: block;
        margin-top: 20px;
    }

    .conocimiento-button-div{
        padding: 25px 6.75vw;
    }
    .writeups-button {
        display: block;
        padding: 25px 6.75vw;
    }
    .last-machine-container {
        max-width: 89vw;
    }
}

@media (max-width: 405px) {
    .writeups-button {
        font-size: 4.2vw;
        line-height: 6.2vw;
        padding: 8vw 6.75vw;
    }
    
    .conocimiento-button-div {
        padding: 8vw 6.75vw;
    }

    .conocimiento-button-icon {
        width: 4.2vw;
    }

    .conocimiento-button-text {
        font-size: 4.2vw;
        line-height: 6.2vw;
    }

    .last-machine-container {
        padding: 0.5vw;
    }

    .border-container {
        padding: 5vw;
    }

    .last-machine-first-info {
        display: block;
        text-align: center;
        font-size: 3.5vw;
    }

    .published {
        font-size: 3.46vw;
    }

    .difficulty-os {
        display: flex;
        font-size: 3vw;
        margin-top: 10px;
        justify-content: space-between;
        margin-top: 2.5vw;
    }

    .os {
        padding: 1vw 2vw;
    }

    .machine-name {
        font-size: 6.17vw;
        margin-top: 3.7vw;
    }

    .machine-description {
        text-align: center;
        font-size: 3.95vw;
        margin-top: 3vw;
    }

    .tags-div {
        margin-top: 6.2vw;
    }

    .tag {
        font-size: 3vw;
        padding: 1vw 2vw;
        margin-right: 2vw;
    }

    .last-machine-bottom {
        margin-top: 7.41vw;
        margin-bottom: auto;
    }

    .samucrow-logo {
        width: 9.88vw;
        height: 9.88vw;
        border-radius: 3.7vw;
    }

    .user-description {
        margin-left: 4.9vw;
    }

    .username {
        font-size: 4vw;
        line-height: 5vw;
    }

    .user-definition {
        font-size: 3.5vw;
    }

    .machine-link {
        text-align: center;
        font-size: 4.2vw;
    }

    #writeup-arrow {
        padding-top: 1vw;
        font-size: 5vw;
        margin-left: 1.24vw;
    }

    .statistics-container {
        margin-top: 4.94vw;
    }

    .statistic {
        padding: 5.93vw;
    }

    .statistic-number {
        font-size: 7.41vw;
        line-height: 8.64vw;
    }

    .statistic-text {
        font-size: 3.95vw;
        margin-top: 1.23vw;
    }
}